@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300");


:root
{
	--back: #131313;
	--black: #101010;
	--white: #eaeaea;
	--border: #aaa;
	--hover: #101510;
	--inactive: #555555;

	--code: #aeaeae;

	--selection-color: #f1f1f1;
	--selection-bg: #333;

	--r: #ef4747;
	--g: #8edb72;
}

body
{
	background-color: var(--back);
}

*
{
	padding: 0px;
	margin: 0px;
	font-family: "Source Code Pro" , "Courier new" , monospace;
	box-sizing: border-box;

	color: #eee;
	background: transparent;
}

/*
body
{
	background-color: #222;
}
*/


.code
{
	display: block;
	width: fit-content;
	padding: 0.5rem;
	margin: 1rem auto;

	color: var(--code);
	font-size: 1.2rem;

	background-color: var(--black);
	border: 1px solid var(--border);

/*	word-wrap: break-word;*/
}

.spacing
{
	letter-spacing: 0.55rem;
	padding-right: 0.1rem;
}
.wrap
{
	word-wrap: break-word;
	white-space: pre-wrap;
	max-width: calc(100vw - 2rem);
}


l
{
	color: #eee;
	text-shadow: 0 0 5px #f1f1f1;
	font-weight: bold;
}


input[type="text"]
{
	display: block;
	width: fit-content;

	color: var(--code);
	letter-spacing: 0.55rem;
	font-size: 1.2rem;

	padding: 0.5rem;
	margin: 1rem auto;
	background-color: var(--black);
	border: 1px solid var(--border);
}


input[type="button"]
{
	display: block;
	width: fit-content;

	color: var(--code);
	font-size: 1rem;
	font-weight: bold;

	padding: 1rem;
	margin: 1rem auto;
	background-color: var(--black);
}


textarea
{
	display: block;
	width: calc(100vw - 2rem);
	min-height: 3rem;

	color: var(--code);
	font-size: 1rem;

	padding: 0.5rem;
	margin: 1rem auto;
	background-color: var(--black);

	resize: vertical;
}



/*	user-select: none;*/
/*	border: 1px solid var(--border);*/
/*	box-shadow: rgba(0, 0, 0, 1) 0px 0 18px 6px;*/
/*	z-index: 100;*/
/*	animation: blink-border 4s ease-in-out infinite;*/



@keyframes blink-border
{
	50% { border-color: var(--white); }
}


.year-holder
{
	padding: 0.5rem;
	margin: 1rem auto;
}


.year
{
	display: block;
	padding: 0.5rem;
	margin: 0.5rem auto;
	width: calc((100vw - 70rem) * 0.5);
	min-width: 15rem;
	text-align: center;
	border-bottom: 2px solid var(--border);
	border-top: 2px solid var(--border);

	font-weight: bold;
	font-size: 2rem;
}


.link 
{
    display: flex;
    justify-content: space-between;

    width: calc(100vw - 70rem);
    min-width: 30rem;

    margin: 0.1rem auto;
    padding: 0.3rem;

	text-decoration: none;
    background-color: var(--black);
    border: 0.5px dashed transparent;
}


.link:hover
{
    border: 0.5px dashed var(--g) ;
	background-color: var(--hover);
}


.link-inactive:hover
{
	border: 0.5px dashed var(--r) ;
	background-color: var(--hover);
}


.time 
{
	color: var(--g);
	font-weight: bold;
    width: 5ch; /* Width to fit up to 5 characters, upto 20000 */
    text-align: left; /* Left align the numbers */
}

.desc 
{
	color: var(--g);
	font-weight: bold;
    flex-grow: 1;
    text-align: right; /* Right align the description */
}

.desc-inactive
{ color: var(--inactive); }




.hide { display: none !imp; }
